body {
	font-size: 16px;
}

.nocomments,
.blog-menu {
	display: none;
}

.sidebar .widgets {
	margin-top: 1em;
}

.sidebar .widget {
	margin-bottom: 2em;
	padding-bottom: 1em;
}

.sidebar .widget-title {
	margin-bottom: 0;
}

.home .post-content p > img {
  max-width: 90%;
}

.home .post-content img + .image__alt {
  display: none;
}


.post-content {
	font-size: 1.05em;
}

.post-content p, .post-content blockquote, .post-content ul, .post-content ol, .post-content address, .post-content dl, .post-content .wp-caption, .post-content pre {
	line-height: 1.6em;
}

.post-content h2 {
	margin-bottom: 0.5em;
}

.post-content p {
	text-align: justify;
}

.post-title a {
	color: #FF706C;
}

.post-content pre {
	padding: 0;
}

.post-content kbd, .post-content code {
	border-radius: 5px;
	___font-size: 0.95em;
	padding: 1px 10px;
}

.post-content code:not(.hljs) {
	color: #FF706C;
}

.post-content pre code {
	line-height: 1.7em;
	padding: 10px;
}

.post-content ul,
.post-content ol {
	margin-left: 2.5em;
}

.footer {
	padding: 0;
}

.archive-nav,
.credits {
	padding: 1em;
}

p.image__alt {
    font-style: italic;
    text-align: center;
}

.watchout, .infobox {
	padding: .5rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
	  line-height: 1.6em;
}

.watchout {
	  background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;
}

.infobox {
    background-color: #f3f5f7;
    border-color: #42b983;
}

.tagcloud {
    margin-top: 10px;
}

.bctt-click-to-tweet {
	border: 3px solid #1da1f2;
	border-radius: 10px;
	color: #2c3e50;
}

.bctt-ctt-text > a {
	color: #888 !important;
	font-size: 1.2em;
}

.bctt-click-to-tweet a.bctt-ctt-btn {
	color: #1da1f2 !important;
	display: block;
  width: 100%;
  text-align: right;
}

.post-content p > img {
	display: block;
	margin: 0 auto;
}

.heateor_sss_sharing_title {
	margin: 2em 0 1em;
}

.heateorSssSharing {
	margin: 0 0.25em;
}

.heateorSssSharingArrow {
  display: none;
}

#search-input {
    padding: 16px 45px 16px 16px;
    background: #48515C;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #FFF;
    border: 0;
    width: 100%;
}

.algolia-autocomplete {
    width: 100%;
}

.searchbox__input::-webkit-search-decoration, .searchbox__input::-webkit-search-cancel-button, .searchbox__input::-webkit-search-results-button, .searchbox__input::-webkit-search-results-decoration {
    display: none;
  }
  
  .searchbox__input:hover {
    box-shadow: inset 0 0 0 1px silver;
  }
  
  .searchbox__input:focus, .searchbox__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #4098CE;
    background: #FFFFFF;
  }
  
  .searchbox__input::-webkit-input-placeholder {
    color: #AAAAAA;
  }
  
  .searchbox__input::-moz-placeholder {
    color: #AAAAAA;
  }
  
  .searchbox__input:-ms-input-placeholder {
    color: #AAAAAA;
  }
  
  .searchbox__input::placeholder {
    color: #AAAAAA;
  }
  
  .searchbox__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 18px 0 0 18px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 37px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .searchbox__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: "";
  }
  
  .searchbox__submit:hover, .searchbox__submit:active {
    cursor: pointer;
  }
  
  .searchbox__submit:focus {
    outline: 0;
  }
  
  .searchbox__submit svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    fill: #666666;
  }
  
  .searchbox__reset {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5);
  }
  .searchbox__reset.hide {
    display: none;
  }
  
  .searchbox__reset:focus {
    outline: 0;
  }
  
  .searchbox__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
  }
  
  .searchbox__input:valid ~ .searchbox__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
  }
  
  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  }
  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
      transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  }
  .aa-dropdown-menu {
    position: relative;
    top: -6px;
    border-radius: 3px;
    margin: 6px 0 0;
    padding: 0;
    text-align: left;
    height: auto;
    position: relative;
    background: transparent;
    border: none;
    width: 100%;
    left: 0 !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .aa-dropdown-menu:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    z-index: 0;
    top: -7px;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    transform: rotate(-45deg);
    border-radius: 2px;
    z-index: 999;
    display: block;
    left: 24px;
  }
  
  .aa-dropdown-menu .aa-suggestions {
    position: relative;
    z-index: 1000;
  }
  
  .aa-dropdown-menu [class^=aa-dataset-] {
    position: relative;
    border: solid 1px #D9D9D9;
    border-radius: 3px;
    overflow: auto;
    padding: 8px 8px 8px;
  }
  
  .aa-dropdown-menu * {
    box-sizing: border-box;
  }
  
  .aa-suggestion {
    font-size: 1.1em;
    padding: 4px 4px 0;
    display: block;
    width: 100%;
    height: 38px;
    clear: both;
  }
  .aa-suggestion span {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    float: left;
    line-height: 2em;
    width: calc(100% - 30px);
    color: #48515C;
    cursor: pointer;
  }
  .aa-suggestion.aa-cursor {
    background: #eee;
  }
  .aa-suggestion em {
    color: #4098CE;
  }
  .aa-suggestion img {
    float: left;
    vertical-align: middle;
    height: 30px;
    width: 20px;
    margin-right: 6px;
  }

  .powered-by-sumo {
    top: -99999px !important;
  }
  .listbuilder-popup-content {
    background: #fff !important;
  }


  /* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold; text-align: center;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #007bff; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#0052ab; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
#mc_embed_signup{background:#eee; padding: 10px 0 20px; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}


.toc {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  display: inline-block;
  font-size: 95%;
  margin-top: 10px;
  padding: 10px 40px 10px 0;
}

.toc h6 {
  margin: 0 0 10px 35px;
  text-align: left;
}

.toc ol, .toc ol ol {
  counter-reset: item;
  list-style: none;
}

.toc li {
  counter-increment: item;
  margin: 0 !important;
}

.toc li:before {
  content: counters(item, ".") ". ";
}

.toc li a {
  color: #0645ad;
}
